# IntelliJ IDEA files
.idea/

# Compiled class file
*.class

# Package files
*.jar
*.war
*.ear

# Logs
*.log

# Maven target directory
/target/

# Gradle build directory
/build/

# Eclipse files
.classpath
.project
.settings/

# Operating System files
Thumbs.db
.DS_Store

# IntelliJ specific files
*.iml
*.ipr
*.iws
.idea
